/*desktop dropdown*/
.dropdown-container {
    background-color: #404040;
    height: 150vh;
}

.dropdown {
    background-color: #fff;
    margin: 0;
    padding-top: 20px;
    height: 70vh;
    box-shadow: 0px -3px 4px 0 #d0d0d0;
}

.dropdownli, .dropdown-back {
    font-size: 16px;
    padding: 0.5px;
    padding-left: 40px;
    font-weight: 750;
}

.dropdown-back {
    display: none;       
}

.mobile-element {
    display: none;
}


@media all and (max-width: 1050px) {
    .dropdown-container {
        width: 100%;
        margin: 0;
    }

    .dropdown {
        box-shadow: none;
        padding-top: 0;
        background-color: #f4f4f4;
    }

    .dropdown-back {
        display: block;  
        margin-top: 0;
        background-color: #fff; 
        border-bottom: 1.55px solid #D0d0d0;
        width: 100%;
        padding-left: 10px;
    }

    .go-back {
        text-decoration: none;
        font-weight: bold;
        color: #181818;
    }

    .dropdownli {
        border-bottom: 1.55px solid #D0d0d0;
        width: 100%;
        display: flex;
        flex-direction: row;
        background-color: #f4f4f4;
        margin-top: 0;
        text-transform: uppercase;
    }

    .mobile-element {
        display: inline;
        position: absolute;
        right: 1rem;
    }
}