.navIcon, .navIconClose {
    font-size: 20px;
    padding-bottom: 10px;
}

.nav-item-hamburger {
    padding-right: 10px;
    color: #181818;
    font-size: 24px;
    align-items: center;
  }

.navIcon {
    color: #181818;
}

.navIconClose {
    color: #fff;
}