 /*desktop navigation design*/
  /*primary (white) nav*/
  .nav, .secondary-nav {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-left: 30px;
    margin-right: 30px;
  }

  .nav {
    align-items: flex-start;
    min-width: 100px;
    background-color: #FFF;
    box-shadow: 0 4px 2px -2px #666666;
    justify-content: flex-start;
  }

  .nav-item {
    text-decoration: none;
    padding: 22px;
    color: #39393A;
  }

  .navActive {
    color: #B81830 !important;
    border-bottom: 3.5px solid #B81830;
  }

  li {
    list-style: none;
    font-size: 14px;
  }

  .nav-item a {
    text-decoration: none;
    color: #181818;
    font-weight: 700;
    font-size: 16px;
    padding: 20px 0px;
  }

  .nav-item a:visited {
    text-decoration: none;
    font-weight: 400;
  }

  .nav-toggle-l {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: none;
  }

  .nav-toggle-r {
    position: absolute;
    top: 1.5rem;
    left: 1rem;
    display: none;
  }

  .open {
    height: 100vh;
  }

  .hidden {
    display: none;
  }
  
  .nav-item-search {
    float: right;
    margin-top: -40px;
    margin-right: 60px;
  }

  .title {
    height: 50px;
    width: auto;
  }

  .nav-item-title {
    padding-top: 8px;
  }
  /*secondary (black) nav*/
  .secondary-nav {
    align-items: flex-end;
    justify-content: flex-end;
    background-color: #000;
  }

  .secondary-nav-item {
    text-decoration: none;
    padding: 9px;
    color: #fff;
  }

  .nav-item-title-sec {
    margin-right: auto;
    padding: 0;
  }