 /*desktop navigation design*/
  /*primary (white) nav*/
  .nav, .secondary-nav {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .nav {
    align-items: flex-start;
    min-width: 100px;
    background-color: #FFF;
    box-shadow: 0 4px 2px -2px #666666;
    justify-content: flex-start;
  }

  .nav-item {
    text-decoration: none;
    padding: 22px;
    color: #39393A;
  }

  .navActive {
    color: #B81830 !important;
    border-bottom: 3px solid #B81830;
  }

  li {
    list-style: none;
    font-size: 14px;
  }

  .nav-item a {
    text-decoration: none;
    color: #181818;
    font-weight: 700;
    font-size: 16px;
    padding: 20px 0px;
  }

  .nav-item a:visited {
    text-decoration: none;
    font-weight: 400;
  }

  .nav-toggle {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: none;
  }

  .open {
    height: 100vh;
  }

  .hidden {
    display: none;
  }

  .navIcon {
    font-size: 30px;
  }
  
  .nav-item-search {
    float: right;
    margin-top: -40px;
    margin-right: 60px;
  }

  .title {
    height: 50px;
    width: auto;
  }

  .nav-item-title, .lang {
    align-items: flex-start;
    align-content: left;
    justify-content: left;
    margin-left: 0;
  }
  /*secondary (black) nav*/
  .secondary-nav {
    align-items: flex-end;
    justify-content: flex-end;
    background-color: #000;
  }

  .secondary-nav-item {
    text-decoration: none;
    padding: 9px;
    color: #fff;
  }

  .nav-item-title-sec {
    margin-right: auto;
    padding: 0;
  }
  

  /*mobile navigation design*/
  @media all and (max-width:1200px) {
    /*primary (white) nav*/
     .nav { 
        flex-direction: column;
        align-items: flex-start;
      }

      nav {
        height: 0;
        width: 100%;
        overflow: hidden;
        transition: 250ms height ease-in-out;
      }

      li {
        display: block;
        text-align: center;
        padding: 0;
      }

      .nav-toggle {
        display: block;
      }
      
      /*secondary (black) nav*/
  }